<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}｜河野智也</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | truncate: 120 }}">

  <!-- OGP設定 -->
  <meta property="og:title" content="{{ page.title }}｜河野智也">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/image/image_001.jpg">
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YFEYKYP58K"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-YFEYKYP58K');
  </script>

  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>
<body>

<nav class="navbar">
  <ul>
    <li><a href="{{ site.baseurl }}/#programs" class="nav-link nav-link--jump">研修メニュー</a></li>
    <li><a href="{{ site.baseurl }}/#features" class="nav-link nav-link--jump">特徴</a></li>
    <li><a href="{{ site.baseurl }}/#achievements" class="nav-link nav-link--jump">実績</a></li>
    <li><a href="{{ site.baseurl }}/#profile" class="nav-link nav-link--jump">プロフィール</a></li>
    <li><a href="{{ site.baseurl }}/#profile" class="nav-link nav-link--jump">お客様の声</a></li>
    <li><a href="{{ site.baseurl }}/#flow" class="nav-link nav-link--jump">依頼の流れ</a></li>
    <li><a href="{{ site.baseurl }}/blog/" class="nav-link nav-link--jump">ブログ</a></li>
    <li><a href="{{ site.baseurl }}/#contact" class="nav-link nav-link--jump">お問い合わせ</a></li>
  </ul>
</nav>

<main>
  {{ content }}
</main>

<footer>
  <p>&copy; 2026 Tomoya Kawano</p>
</footer>

<script src="{{ site.baseurl }}/script.js"></script>
</body>
</html>
