<!DOCTYPE html>
<html lang="ja">
<head>
{% include head-common.html %}
  <title>{{ page.title }}｜河野智也</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | strip_newlines | truncate: 120 }}">

  <!-- OGP設定 -->
  <meta property="og:title" content="{{ page.title }}｜河野智也">
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | strip_newlines | truncate: 120 }}">
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/image/image_001.jpg">
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
  <meta name="twitter:card" content="summary_large_image">
</head>
<body class="sub">

{% include site-header.html %}

<main id="main">
  {{ content }}
</main>

{% include site-footer.html %}

<script src="{{ site.baseurl }}/script.js"></script>
</body>
</html>
